* {
  padding:0;
  margin:0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

body{
  padding:50px;
  background: rgb(205,181,255);
  background: linear-gradient(149deg, rgba(205,181,255,1) 0%, rgba(253,45,45,1) 100%);
  /* get the background to look better */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-weight:200;
  font-size:60px;
  margin-bottom:60px;
}

h5 {
  margin: 10px 0;
}

/* ----------------general elements */

#result {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.button {
  background:black;
  color:white;
  padding:10px 12px;
  border-radius:10px;
  display:inline-block;
  transition: all 0.3s ease;
}

.button:hover {
  cursor:pointer;
  opacity: 0.7;
}

i {
  transition: all 0.3s ease;
}

.button:hover i {
  margin-left:10px;
}

/* ----------------artists styles */

.artist-profile {
  /* From https://css.glass */
  width:22%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.artist-profile .button {
  margin-top:20px;
}

.artist-profile img {
  width:100%;
  /* top left: 16, top right, 16 */
  border-radius: 16px 16px 0 0;
  max-height: 150px;
  object-fit: cover;
  object-position: 0% 25%;
}

.content-wrapper {
  padding:20px;
      text-align: center;
}

/* -----------------modals */

#modal-overlay {
  width:100vw;
  height:100vh;
  position:fixed;
  top: 0;
  left:0;
  background-color: #000000b3;
  backdrop-filter: blur(5px);
  opacity:0;
  visibility: hidden;
  transition: all 0.3s ease;
}

#modal-overlay.active {
  visibility: visible;
  opacity:1;
}

#modal-content h2 {
  font-size: 120px;
  font-weight: 600;
  margin-top: 200px;
}

#modal-content {
  color:white;
  text-align:center;
  opacity:0;
  transition: all 0.3s ease;
}

#modal-content.active {
  opacity:1;
}

#modal-content i {
  position: absolute;
  top:25px;
  right:45px;
  color:white;
  font-size:60px;
}

#net-worth-data {
  font-size: 90px;
  font-weight: 500;
}

#close-button {
  transition: all 0.3s ease;
}

#close-button:hover {
  color: #FD2F30;
  cursor:pointer;
}

/* -------toolbar styles */

#toolbar {
  border-radius:10px;
  padding:10px;
  margin-bottom:10px;
  display:flex;
}

#search-input {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  width:250px;
}

#toolbar #search-button {
  font-size: 32px;
  position:relative;
  top:7px;
  transition: all 0.3s ease;
}

#toolbar #search-button:hover {
  color:white;
  cursor:pointer;
}

#filter-checkbox, #search-box {
  width: 50%;
}

#search-box {
  text-align:right;
}

/* notfications */
.alert {
  background: #ffffd4;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 5px;
}

/* face */

#face {
  position: absolute;
top: 0px;
left: 0;
width: 91px;
}
